.booking-details-wrapper,
.user-details-wrapper {
  border: 1px solid #ccc;

  border-radius: 4px;

  margin-bottom: 10px;
}

.booking-details-header,
.user-details-header {
  background-color: #f1f1f1;

  padding: 10px;

  cursor: pointer;
}

.booking-details-header.collapsed,
.user-details-header.collapsed {
  background-color: #e1e1e1;
}

.booking-details-content,
.user-details-content {
  padding: 10px;

  display: none;
}

.booking-details-wrapper.collapsed .booking-details-content,
.user-details-wrapper.collapsed .user-details-content {
  display: none;
}
